body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.location-btn {
  background: #3498db;
  color: white;
}

.main-btn {
  background: #ff416c;
  color: white;
  font-weight: bold;
}

.status {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}